<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>shmopinterestprofilewidget</name>
    <displayName><![CDATA[Pinterest Profile Widget]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Adds a block with Pinterest Profile Widget.]]></description>
    <author><![CDATA[Andre Matthes]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <confirmUninstall>Are you sure you want to delete Pinterest Profile Widget?</confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>